.root {
    -fx-font-family: "System";
    -fx-font-size: 13.0px;
    -fx-base: #E8F2FE;
    -fx-focus-color: #E8F2FE;
}

.table-row-cell .table-cell {
    -fx-border-width: 0px;
}

#menubar {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-base, 5.0%) 0%, derive(-fx-base, -18.0%) 100%);
}
