.cell {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: -fx-dark-text-color;
}

.table-row-cell {
    -fx-cell-size: 30;
}

.connection-box {
	-fx-background-color: #F0F0F0;
	-fx-background-radius: 5;
	-fx-border-color: #A0A0A0;
	-fx-border-radius: 5;
}
